@media (min-width: 768px) {

    .form-inline .input-group>.form-control.small
    {
        width: 4em;
    }

    .form-inline .input-group-addon.hidden-wide
    {
        display: none;
    }

}


.title-panel
{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}


@media (max-width: 768px) {

    .title-panel img
    {
        width: 360px;
    }

}


td.centered
{
    text-align: center;
}


table.armor-list thead>tr>th
{
    text-align: center;
}


table.armor-list tbody>tr>td
{
    vertical-align: middle;
}


table.armor-list img.armor-icon
{
    width: 32px;
    margin-right: 10px;
}


.panel-title a.collapsed span.glyphicon-menu-up
{
    display: none;
}


.panel-title a:not(.collapsed) span.glyphicon-menu-down
{
    display: none;
}
